<div class="container padding-top">
	<% if @message %>
		<div class="card card-block text-xs-center" style="background: lightblue;">
		  <h3 class="card-title"><%= @message.sender.email %></h3>
		  <p class="card-subtitle"><i>sent at: <%= @message.created_at.strftime("%d.%m.%Y %T") %></i></p>
		  <p class="card-text"><b><%= @message.content %></b></p>
		</div>
	<% else %>
		<div class="padding-top">
			<%= link_to "Back to message list", messages_path, class: "btn btn-primary" %>
		</div>
	<% end %>
</div>